:root {
    --ff-sans: "Barlow Semi Condensed", sans-serif;

    --fs-300: 0.6875rem;
    --fs-400: 0.8125rem;
    --fs-500: 1.25rem;

    --fw-500: 500;
    --fw-600: 600;

    --violetColor: hsl(263, 55%, 52%);
    --grayishBlue: hsl(217, 19%, 35%);
    --blackishBlue: hsl(219, 29%, 14%);
    --whiteColor: hsl(0, 0%, 100%);
    --lightGray: hsl(0, 0%, 81%);
    --lightGrayishBlue: hsl(210, 46%, 95%);
    --bg-color: hsl(212 6% 93);
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

body,
h2,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
}

body {
    place-content: center;
    min-height: 100vh;
    line-height: 1.5;
    font-family: var(--ff-sans);
    font-weight: var(--fw-500);
    background: var(--bg-color);
    padding-inline: 2em;
}

h2 {
    font-weight: var(--fw-600);
}

.testimonial-grid {
    display: grid;
    gap: 1.5rem;
    padding-block: 2em;
    width: 100%;
    max-width: 1120px;
    margin-inline: auto;
    grid-auto-columns: 1fr;
    grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five';
    
}

.testimonial>*:where(:not(:first-child)) {
    margin-top: 1em;
}

.testimonial__profile {
    display: flex;
    gap: 1rem;
}

.profile__img {
    width: 2.125rem;
    border-radius: 50%;
}

.profile__name {
    font-size: var(--fs-400);
    line-height: 1.5;
}

.profile__status {
    font-size: var(--fs-300);
    opacity: 0.5;
}

.bg-quotation {
    background-image: url("/images/bg-pattern-quotation.svg");
    background-repeat: no-repeat;
    background-position: top right 10%;
}



.testimonial {
    font-size: var(--fs-400);
    border-radius: 0.5rem;
    padding: 2rem;
}

.testimonial:nth-child(1) {
    grid-area: one;
}

.testimonial:nth-child(2) {
    grid-area: two;
}


.testimonial:nth-child(3) {
    grid-area: three;
}


.testimonial:nth-child(4) {
    grid-area: four;
}


.testimonial:nth-child(5) {
    grid-area: five;
}


.testimonial>:last-child {
    opacity: 0.7;
}

p:nth-last-child(2) {
    font-size: var(--fs-500);
    font-weight: var(--fw-600);
    line-height: 1.2;
}

.profile-violet {
    background-color: var(--violetColor);
    
}

.profile-gray-blue {
    background-color: var(--grayishBlue);
}

.profile-neutral {
    background-color: var(--whiteColor);
    color: var(--blackishBlue)
}

.profile-black-blue {
    background-color: var(--blackishBlue);
}

.primary {
    color: var(--whiteColor);
}

.profile__img.white {
    border: 2px solid var(--whiteColor);
}

.profile__img.violet {
    border: 2px solid var(--violetColor);
}

@media screen and (min-width: 500px) {
    .testimonial-grid {
        grid-template-areas: 
        'one one'
        'two three'
        'four four'
        'five five';
    }
}


@media screen and (min-width: 700px) {
    .testimonial-grid {
        grid-template-areas: 
        'one one five'
        'two three five'
        'four four four';
    }
}


@media screen and (min-width: 900px) {
    .testimonial-grid {
        grid-template-areas: 
        'one one two five'
        'three four four five';
    }
}






























































/* img {
   max-width: 100%;
   display: block; 
}

html {
    font-family: var(--ff-sans);
    font-size: var(--fs-400);
    font-weight: var(--fw-500);
}

body {
    margin: 0;
    width: 100%;
    max-width: 1200px;
    padding: 10rem;
    line-height: 1.5;
    margin-inline: auto;
    background: hsl(213 4% 95%);
}

.testimonial-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 1.5rem;
}

.grid-span {
    grid-column: span 2;
}

:last-child {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 4;
}

.testimonial {
    font-size: var(--fs-400);
    border-radius: 0.5rem;
    padding: 2rem;
}

.testimonial__profile {
    display: flex;
    gap: 1rem;
}

.profile__img {
    width: 2.125rem;
    aspect-ratio: 1;
    border: 1px solid red; 
    border-radius: 50%;
}


.profile__name {
    font-size: var(--fs-400);
    font-weight: var(--fw-600);
    margin: 0;
}

.profile__status {
    font-size: var(--fs-300);
    margin: 0;
    opacity: 0.5;
}

q {
    opacity: 0.7;
    font-size: var(--fs-400);
}

h1 {
    font-size: var(--fs-500);
    line-height: 1.2;
}

.profile-violet {
    background-color: var(--violetColor);
    
}

.profile-gray-blue {
    background-color: var(--grayishBlue);
}

.profile-neutral {
    background-color: var(--whiteColor);
    color: var(--blackishBlue)
}

.profile-black-blue {
    background-color: var(--blackishBlue);
}

.primary {
    color: var(--whiteColor);
} */